*{
  margin: 0px;
  padding: 0px;
}
body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mapid {
  height: 100vh;
  width:100%;
}

#header{
  position: absolute;
  bottom:10px;
  left: 10px;
}
h1{
  padding: 3px;
  font-size: 3em;
  color: red;
}
